@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;

	@apply bg-theme text-white min-w-[510px] min-h-screen;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.fixed-size {
	@apply max-w-[1440px] mx-auto px-5;
}

.Toastify__toast-container--top-center {
	top: var(--toastify-toast-top);
	left: 50%;
	transform: translateX(-50%);
	padding: 4px;
	width: var(--toastify-toast-width);
}

.Toastify__toast {
	margin-bottom: 1rem;
	border-radius: var(--toastify-toast-bd-radius);
}
